* {
  font-family: "Cascadia Code", sans-serif;
}
h2 {
  background-color: rgba(22, 74, 80, 0.855);
  padding: 15px;
  color: white;
}
.vector {
  width: 35%;
  padding: 30px;
  margin: 10px auto 10px auto;
  border: 1px solid gray;
}
select {
  margin: 20px;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  accent-color: black;
  text-align: center;
  font-size: medium;
}
.select {
  margin: 10px auto 40px auto;
  width: 170px;
  height: 40px;
}
.input {
  margin: 10px;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
}
input::placeholder {
  text-align: center;
}
.resultado {
  margin: auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;
}
.submit {
  background-color: white;
  border: 1px solid gray;
  width: 100px;
  height: 40px;
}
.submit:hover {
  background-color: gray;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
